* {
  margin: 0;
  font-family: "Lexend", sans-serif;
  text-decoration: none;
}

body {
  position: relative;
  display: inline-block;
  min-width: 1400x;
  padding: 40px 120px 120px 120px;
}

h1 {
  color: var(--mrt-app-headline, #1b1c57);
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

h2 {
  color: var(--mrt-app-headline, #1b1c57);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

h3 {
  color: var(--neutral-900, #0e1735);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  /* 133.333% */
}

h4 {
  color: var(--mrt-app-headline, #1b1c57);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

h5 {
  color: var(--neutral-900, #0e1735);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 133.333% */
}

h6 {
  color: var(--mrt-app-headline, #1b1c57);
  font-size: 16px;
  font-style: 20px;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}

h7 {
  color: var(--neutral-100, #f0f3fd);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

h8 {
  color: var(--mrt-app-subheadline, #68799f);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 166.667% */
}

.ava {
  width: 56px;
  height: 56px;
  flex-shrink: 0;
  border-radius: 56px;
  border: 3px solid #fff;
  box-shadow: 0px 9px 32px 0px rgba(89, 92, 219, 0.1);
}

.logo-text {
  display: flex;
  align-items: center;
  gap: 12px;
}

header {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
  height: 46px;
}
header img {
  height: 36px;
}
header .button {
  display: flex;
  align-items: flex-start;
  min-width: 65px;
  padding: 8px 16px;
  gap: 10px;
  border-radius: 32px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.1);
}
header .article {
  min-width: 46px;
}
header svg {
  display: flex;
}
header .right-header {
  display: flex;
  align-items: center;
  gap: 24px;
}
header .right-header .sign-up {
  height: 22px;
  display: inline-flex;
  min-width: 60px;
  padding: 12px 24px;
  margin-left: 32px;
  gap: 10px;
  border-radius: 32px;
  background: var(--green-100, #d1fae5);
}
header .right-header .sign-up h7 {
  color: var(--green-700, #047857);
  line-height: 22px;
  /* 157.143% */
  text-transform: none;
}

.blur {
  position: absolute;
  filter: blur(60px);
  opacity: 1.0000001192;
}

.blur-1 {
  top: -50px;
  left: -50px;
  width: 438px;
  height: 494px;
  fill: #82ffd2;
}

.blur-2 {
  left: 180px;
  top: -162px;
  fill: #82ffd2;
}

.blur-3 {
  z-index: -1;
  width: 438px;
  height: 494px;
  flex-shrink: 0;
  fill: #ff9882;
  right: -150px;
  top: -250px;
}

.blur-4 {
  z-index: -1;
  width: 438px;
  height: 494px;
  flex-shrink: 0;
  fill: #fffa82;
  right: -180px;
  top: -82px;
}

.search-input {
  display: flex;
  padding: 4px 4px 4px 24px;
  align-items: center;
  margin-bottom: 32px;
  margin-top: 32px;
  gap: 16px;
  border-radius: 32px;
  border: 1px solid var(--neutral-300, #e0e3eb);
  background: #fff;
}
.search-input input {
  size: 40px;
}
.search-input .search-button {
  display: flex;
  padding: 12px 16px;
  align-items: center;
  gap: 4px;
  border-radius: 32px;
  background: var(--green-500, #10b981);
}
.search-input h6 {
  color: var(--mrt-app-neutral-01, #626687);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  /* 175% */
  text-transform: none;
}
.search-input .input {
  width: 303px;
  color: var(--neutral-500, #888b97);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  /* 157.143% */
}

.first-view {
  display: grid;
  grid-row: 3;
  grid-template-columns: 496px 1fr;
  grid-column: 1;
  width: 1220px;
  margin-bottom: 74px;
}
.first-view .search-location {
  display: inline-flex;
  flex-direction: column;
  margin-top: 107px;
  width: 496px;
}
.first-view .search-location h1 {
  position: relative;
  width: 496px;
  margin-bottom: 24px;
}
.first-view .search-location h6 {
  color: var(--mrt-app-neutral-01, #626687);
  font-weight: 400;
  line-height: 28px;
  /* 175% */
  opacity: 0.75;
}
.first-view .search-location .partnership {
  display: inline-flex;
  align-items: center;
  gap: 32px;
  height: 64px;
}
.first-view .search-location .partnership img {
  width: 82.75px;
  padding: 24px 0;
}
.first-view .main-image {
  width: 721px;
  display: flex;
  position: relative;
  overflow: hidden;
  z-index: -1;
  bottom: 46px;
  left: 104px;
  border-radius: 0px 0px 0px 80px;
  grid-column: 2;
}
.first-view .main-image .main-photo {
  height: 720px;
}
.first-view .main-image .info {
  position: absolute;
  z-index: 0;
  left: 48px;
  bottom: 48px;
  display: flex;
  padding: 20px;
  align-items: center;
  border-radius: 32px;
  background: #fff;
  box-shadow: 0px 11px 48px 0px rgba(51, 51, 51, 0.06);
}
.first-view .main-image .info .text-info {
  display: flex;
  flex-direction: column;
  margin-left: 72px;
}
.first-view .main-image .info-2 {
  left: 392px;
  gap: 16px;
}
.first-view .main-image .info-2 .text-info {
  margin-left: 0;
}
.first-view .main-image .info-3 {
  min-width: 280px;
  left: 609px;
  gap: 16px;
}
.first-view .main-image .info-3 .text-info {
  display: inline-flexbox;
  margin-left: 0;
}
.first-view .main-image .orange {
  position: absolute;
  z-index: 0;
  bottom: 418px;
  left: 555px;
}
.first-view .main-image .red {
  position: absolute;
  z-index: 0;
  bottom: 485px;
  left: 80px;
}
.first-view .main-image .blue {
  position: absolute;
  z-index: 0;
  bottom: 234px;
  left: 565px;
}
.first-view .main-image .green-1 {
  position: absolute;
  z-index: 0;
  bottom: 348.5px;
  left: 244px;
}
.first-view .main-image .green-2 {
  position: absolute;
  z-index: 0;
  bottom: 348.5px;
  left: 304.5px;
}
.first-view .main-image .green-3 {
  position: absolute;
  z-index: 0;
  bottom: 348.5px;
  left: 332.5px;
}
.first-view .main-image .ava-2 {
  position: absolute;
  left: 55px;
}
.first-view .main-image .ava-3 {
  position: absolute;
  left: 86px;
}

.blocks {
  display: flex;
  flex-direction: column;
  width: 1200px;
}
.blocks .yellow-text {
  display: inline-flex;
  align-items: center;
}
.blocks .yellow-text .line {
  width: 32px;
  height: 1px;
  flex-shrink: 0;
  background: var(--yellow-500, #f59e0b);
  margin-right: 8px;
}
.blocks .yellow-text h7 {
  color: var(--yellow-500, #f59e0b);
  font-weight: 500;
  width: 100%;
}

.blocks + .blocks {
  margin-top: 120px;
}

.block-menu {
  margin-left: 40px;
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.block-menu .choose-home {
  display: inline-flex;
  gap: 32px;
}
.block-menu .choose-home .button {
  display: flex;
  padding: 12px 24px;
  align-items: center;
  gap: 8px;
  border-radius: 32px;
  border: 1px solid var(--neutral-300, #e0e3eb);
}
.block-menu .choose-home .chooses {
  background: var(--green-100, #d1fae5);
  border: none;
}
.block-menu .choose-home .chooses h5 {
  color: var(--green-500, #10b981);
}
.block-menu .choose-home h5 {
  line-height: 28px;
  /* 155.556% */
  color: var(--neutral-500, #888b97);
}
.block-menu .arrow .left-arrow {
  display: inline-flex;
  padding: 12px 16px;
  align-items: center;
  gap: 4px;
  border-radius: 32px;
  background: var(--neutral-300, #e0e3eb);
}
.block-menu .arrow .right-arrow {
  display: inline-flex;
  padding: 12px 16px;
  align-items: center;
  gap: 4px;
  border-radius: 32px;
  background: var(--green-500, #10b981);
}

.vitrina {
  width: 1280px;
  margin-left: 40px;
  margin-top: 40px;
  overflow: hidden;
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(4, 340px);
}
.vitrina .block-home {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex-shrink: 0;
}
.vitrina .block-home img {
  height: 382px;
  border-radius: 24px;
}
.vitrina .block-home .teg {
  position: absolute;
  top: 332px;
  left: 16px;
  display: inline-flex;
  padding: 8px 16px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 32px;
}
.vitrina .block-home .teg h7 {
  font-weight: 500;
}
.vitrina .block-home .popular {
  background: var(--red-100, #fee2e2);
}
.vitrina .block-home .popular h7 {
  color: var(--red-500, #ef4444);
}
.vitrina .block-home .new-house {
  background: var(--blue-100, #dbeafe);
}
.vitrina .block-home .new-house h7 {
  color: var(--blue-700, #1d4ed8);
}
.vitrina .block-home .best-deal {
  background: var(--green-100, #d1fae5);
}
.vitrina .block-home .best-deal h7 {
  color: var(--green-700, #047857);
}
.vitrina .name-price {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.vitrina .seller {
  display: flex;
  align-items: center;
  gap: 16px;
}
.vitrina .seller img {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 40px;
}
.vitrina .seller .description {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.vitrina .seller h7 {
  line-height: 22px;
  /* 157.143% */
  font-weight: 500;
  color: var(--neutral-500, #888b97);
}

.grid {
  display: flex;
  flex-direction: row;
  gap: 190px;
  margin-bottom: 40px;
}

.left {
  display: flex;
  flex-direction: column;
  width: 530px;
}
.left .yellow-text {
  margin-top: 28px;
}
.left .info {
  margin-left: 40px;
  margin-top: 12px;
  display: flex;
  width: 485px;
  flex-direction: column;
  gap: 16px;
}
.left .info h6 {
  font-weight: 400;
  line-height: 28px;
  /* 175% */
  color: var(--mrt-app-neutral-01, #626687);
  font-style: normal;
  text-transform: none;
  opacity: 0.75;
}
.left .info .detail-text {
  opacity: 0.75;
  font-weight: 600;
  color: var(--mrt-app-headline, #1b1c57);
}
.left .info .detail-info {
  display: grid;
  width: 440px;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 52px;
       column-gap: 52px;
  row-gap: 16px;
  margin-bottom: 16px;
}
.left .info .detail-info div {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}
.left .info .detail-info h6 {
  color: var(--neutral-700, #3c4563);
  line-height: normal;
  font-weight: 500;
}
.left .info .line {
  width: 440px;
  border-top: 1px solid var(--neutral-100, #f0f3fd);
}
.left .info .contact-info {
  display: flex;
  align-items: center;
}
.left .info .contact-info .text-info {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
}
.left .info .contact-button {
  display: inline-flex;
  padding: 12px 16px;
  margin-left: 59px;
  align-items: center;
  gap: 16px;
  border-radius: 32px;
  background: var(--green-500, #10b981);
}
.left .info .contact-button h7 {
  color: #fff;
}

.right {
  display: flex;
  height: 416px;
  position: relative;
}
.right img {
  border-radius: 4px;
}
.right .sofa {
  position: absolute;
  left: -40px;
  bottom: -43px;
  width: 296px;
  height: 168px;
  flex-shrink: 0;
}
.right .small-image {
  position: absolute;
  width: 96px;
  height: 80px;
  flex-shrink: 0;
}
.right .vase {
  left: 268px;
  bottom: -43px;
}
.right .armchair {
  left: 372px;
  bottom: -43px;
}
.right .play {
  position: absolute;
  left: 220px;
  top: 184px;
}

.yellow-text-column {
  display: flex;
  gap: 8px;
  flex-direction: column;
  margin-bottom: 12px;
}
.yellow-text-column h7 {
  display: contents;
}

.sell {
  align-items: center;
}
.sell .overflow {
  margin-top: 40px;
  height: 505px;
  width: 1400px;
  overflow: hidden;
}
.sell .grid-reviews {
  display: grid;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 105px;
  padding-left: 54px;
  gap: 56px;
  grid-template-columns: repeat(3, 740px);
}
.sell .grid-reviews .home {
  position: relative;
  display: flex;
  justify-content: center;
}
.sell .grid-reviews .home .main-home {
  width: 740px;
  height: 400px;
  border-radius: 8px;
  opacity: 0.6999999881;
}
.sell .grid-reviews .home .description {
  position: absolute;
  bottom: -105px;
  display: flex;
  width: 548px;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0px 9px 32px 0px rgba(89, 92, 219, 0.05);
}
.sell .grid-reviews .home .description .text {
  gap: 16px;
}
.sell .grid-reviews .home .description .text h7 {
  color: var(--mrt-app-neutral-01, #626687);
  text-transform: none;
  font-weight: 400;
  line-height: 24px;
  /* 171.429% */
}
.sell .grid-reviews .home .description .contact {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 24px;
}
.sell .grid-reviews .home .description .contact .text-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  flex: 1 0 0;
}
.sell .grid-reviews .home .description .contact .text-info h7 {
  color: var(--neutral-500, #888b97);
  font-weight: 500;
  line-height: 22px;
  /* 157.143% */
}
.sell .grid-reviews .home .description .contact .text-info h7.name {
  color: var(--neutral-900, #0e1735);
}
.sell .grid-reviews .home .description .contact img {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  box-shadow: 0px 9px 32px 0px rgba(89, 92, 219, 0.1);
}
.sell .grid-reviews .home .description .contact .star {
  display: flex;
  align-items: center;
  gap: 16px;
}
.sell .points {
  margin-top: 32px;
  margin-left: 80px;
}

.more-about {
  align-items: center;
}

.articles {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  gap: 68px;
}
.articles .left-articles {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 40px;
}
.articles .small-preview-articl {
  display: flex;
  flex-direction: row;
  gap: 32px;
}
.articles .small-preview-articl img {
  width: 200px;
  height: 144px;
  border-radius: 16px;
}
.articles .description {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.articles .date {
  display: flex;
  align-items: center;
  gap: 12px;
}
.articles .date h7 {
  color: var(--neutral-500, #888B97);
  line-height: 24px;
  /* 171.429% */
}
.articles h7 {
  color: var(--neutral-700, #3C4563);
  font-weight: 400;
  line-height: 22px;
  /* 157.143% */
}
.articles h5 {
  font-weight: 500;
  line-height: 32px;
  /* 177.778% */
  font-weight: 500;
}
.articles .right-articl {
  display: flex;
  flex-direction: column;
  width: 560px;
}
.articles .right-articl img {
  height: 280px;
  flex-shrink: 0;
  border-radius: 16px;
  margin-bottom: 24px;
}
.articles .right-articl h7 {
  color: var(--mrt-app-neutral-01, #626687);
  line-height: 24px;
  /* 171.429% */
  text-transform: none;
}
.articles .fio {
  display: flex;
  align-items: center;
  gap: 15px;
}
.articles .fio img {
  width: 32px;
  height: 32px;
  border-radius: 32px;
  box-shadow: 0px 9px 32px 0px rgba(89, 92, 219, 0.1);
  margin-bottom: 0;
}
.articles .date {
  margin-top: 4px;
}

.last {
  position: relative;
}
.last .button-text {
  position: absolute;
  top: 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.last .button-text .search-input {
  margin: 0;
}
.last .button-text .search-input a {
  margin: 0;
}

footer {
  margin-top: 120px;
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 263px;
}
footer .logo-text {
  margin-bottom: 16px;
}
footer h7 {
  display: flex;
  color: var(--mrt-app-neutral-01, #626687);
  font-weight: 400;
  line-height: 24px;
  /* 171.429% */
}
footer .company-description {
  width: 320px;
}
footer .mini-columns {
  width: 617px;
  display: flex;
  flex-direction: row;
  gap: 88px;
}
footer .mini-columns .field {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: -moz-fit-content;
  width: fit-content;
}
footer .mini-columns h5 {
  margin-bottom: 6px;
  font-weight: 600;
  display: flex;
}
footer .mini-columns .field:only-child {
  display: flex;
}
footer .socials {
  position: absolute;
  left: 0;
  bottom: 0;
  gap: 24px;
}/*# sourceMappingURL=main-page.css.map */